.circleImg {
    width: 80px;
    height:150px;
    border-radius:50px;
    border-radius:100px;
    border:5px solid #666;
}
body{
    font-family: 'Righteous', cursive;
    background-color: #B8F6E1;
}
h2{
    color: #3A3B48
}
div{
    font-size: 110%;
    width: 20%;
    background-color: #D6CBC1;
}